/*
 * General:
 * Estos estilos afectan al layout general.
 * Para asignar colores backgrounds utilizar un nuevo archivo de estilos
 * No sobreescribas en esta.
 * 
 */

/* eliminar radio en bordes 
.carousel-indicators li, .popover-title, .popover, .tooltip-inner, .modal-content, .well-sm, .well-lg, .well, 
.panel-group .panel, .panel, .progress, .alert, .thumbnail, .container .jumbotron, .container-fluid .jumbotron, 
.label, .pager li > a, .pager li > span, .navbar, .navbar-toggle .icon-bar, .navbar-toggle, .nav-tabs-justified > li > a, 
.nav-pills > li > a, .nav-tabs.nav-justified > li > a, .nav-tabs > li > a, .input-group-addon.input-lg,.input-group-addon.input-sm, .input-group-addon, .input-group-sm > .form-control,
.input-group-sm > .input-group-addon,.input-group-sm > .input-group-btn > .btn,.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,.input-group-lg > .input-group-btn > .btn,.img-rounded , .img-thumbnail, 
code, kbd, pre,.form-control, .input-sm , .form-group-sm .form-control , .input-lg, .form-group-lg .form-control, 
.btn, .btn-lg,.btn-group-lg > .btn, .btn-sm, .btn-group-sm > .btn, .btn-xs, .btn-group-xs > .btn, .dropdown-menu{
	border-radius: 0px;
}*/

/* Animaciones en objetos */
.navbar,.navbar .navbar-brand,.navbar-nav li a,a,#carrusel-brochures .carousel-caption{-webkit-transition:all 0.7s ease-in-out;-moz-transition:all 0.7s ease-in-out;-ms-transition:all 0.7s ease-out;-o-transition:all 0.7s ease-in-out;transition:all 0.7s ease-in-out;}


/* Modulo: Modal */
.modal-backdrop{-webkit-backface-visibility:hidden;}
.modal-backdrop.zoom,
.modal-backdrop.newspaper,
.modal-backdrop.move-horizontal,
.modal-backdrop.move-from-top,
.modal-backdrop.unfold-3d,
.modal-backdrop.zoom-out{opacity:0;transition:opacity 0.4s ease;}
.modal-backdrop.in{opacity:0.5;}
.modal-backdrop.unfold-3d{perspective:500;}
.modal.zoom .modal-dialog{opacity:0;-webkit-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;transform:scale(0.6);}
.modal.in .modal-dialog{opacity:1;-webkit-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;transform:scale(1);}
.modal.fade.newspaper .modal-dialog,
.modal.newspaper .modal-dialog{opacity:0;-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s;transform:scale(0) rotate(500deg);}
.modal.fade.newspaper.in .modal-dialog,
.modal.in .modal-dialog{opacity:1;transform:scale(1) rotate(0deg);}
.modal.move-horizontal .modal-dialog{opacity:0;transition:all 0.5s;transform:translateX(-50px);}
.modal.in .modal-dialog{opacity:1;transform:translateX(0);}
.modal.move-from-top .modal-dialog{opacity:0;transition:all 0.5s;transform:translateY(-100px);}
.modal.in .modal-dialog{opacity:1;transform:translateY(0);}
.modal.unfold-3d .modal-dialog{opacity:0;transition:all 0.5s ease-in-out;transform-style:preserve-3d;transform:rotateY(-60deg);}
.modal.in .modal-dialog{opacity:1;transform:rotateY(0deg);}
.modal.fade.zoom-out .modal-dialog,
.modal.zoom-out .modal-dialog{opacity:0;transition:all 0.5s;transform:scale(1.3);}
.modal.fade.zoom-out.in .modal-dialog,
.modal.in .modal-dialog{opacity:1;transform:scale(1);}
.csstransforms3d .modal.unfold-3d .modal-dialog{transform:none;transform-origin:50% 100%;transform:scale(0.7) rotate3d(-1,1,0,-60deg);}
.csstransforms3d .modal.in .modal-dialog{transform:scale(1) rotate3d(-1,1,0,0deg);}

/** animacion de toggle btn en menu **/
.icon-bar{-webkit-transition:all 0.7s ease-in-out;-moz-transition:all 0.7s ease-in-out;-ms-transition:all 0.7s ease-out;-o-transition:all 0.7s ease-in-out;transition:all 0.7s ease-in-out;}
.navbar-toggle.active .icon-bar:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);position:relative;top:6px;}
.navbar-toggle.active .icon-bar:nth-child(3){width:0%;opacity:0;}
.navbar-toggle.active .icon-bar:nth-child(4){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);position:relative;top:-6px;}

#primary{ position: relative;z-index:1;}
/* En caso de fijar el sidebar a la izquierda */
#secondary.affix{height:auto;width:inherit;left:auto;right:auto;}
/* En caso de fijar el sidebar a la derecha */
#third.affix{height:auto;width:inherit;left:auto;right:auto;}

/* En caso de habilitar sidebars ocultos, 
 * se necesita un envoltorio y un boton que ejecute el mostrar y ocultar */

#wrapper, 
.toggle-sidebars #content {
	transition: all .4s ease 0s;
	height: 100%;
}

#wrapper.add-aside-left, 
.toggle-sidebars.left-on #content.add-aside-left {
	padding-left: 0px;
}

	#sidebar-left, 
	.toggle-sidebars.left-on #secondary {
		left: 0px;
		top: 0px;
		margin-left: -300px;
		width: 300px;
		background: #222;
		position: fixed;
		height: 100%;
		z-index: 1020;
		transition: all .4s ease 0s;
		overflow: auto;
	}

	
/* Division para el contenido, originalmente deberia medir al 100% 
 * Sin embargo al utilizar bootstrap se puede condicionar el intercambio de clases
 * col-md-6 a col-md-9
 * Experimento: manipular el css directo.


#page-content-wrapper, 
.toggle-sidebars #primary {
	padding-left: 0;
	margin-left: 0;
	width: 100%;
	height: auto;
}
 */

/*#page-content-wrapper, 
.toggle-sidebars.left-on #primary {
	width: 75%;
}*/

/*#page-content-wrapper, 
.toggle-sidebars.right-on #primary {
	width: 75%;
}*/

#page-content-wrapper, 
.toggle-sidebars.right-on.left-on #primary {
	width: 100%;
}


/* Ajuste en elementos cuando estan activos */
	#wrapper.active-sidebar-left, 
	.toggle-sidebars.left-on #content.active-sidebar-left {
		padding-left: 300px;
	}
	#wrapper.active-sidebar-left #sidebar-left, 
	.toggle-sidebars.left-on #content.active-sidebar-left #secondary {
		left: 300px;
	}

/* En caso de requerir otro sidebar a la derecha */
	
	#wrapper.add-aside-right, 
	.toggle-sidebars.right-on #content.add-aside-right {
		padding-right: 10px;
		}
			
	#sidebar-right, 
	.toggle-sidebars.right-on #third {
		margin-right: -80%;
		right: 10px;
		top:0px;
		width: 80%;
		background: #ddd;
		position: fixed;
		height: 100%;
		z-index: 1020;
		transition: all .4s ease 0s;
		box-shadow:0px 0px 19px rgba(0, 0, 0, 0.5);
	}
		
	/*Sidebar activado*/
	#wrapper.active-sidebar-right, 
	.toggle-sidebars.right-on #content.active-sidebar-right {
		padding-right: 80%;
	}
	#wrapper.active-sidebar-right #sidebar-right, 
	.toggle-sidebars.right-on #content.active-sidebar-right #third {
		right: 80%;
	}
	
/* Botones de sidebar */	

.sidebar-toggle{padding:9px 10px;background-color:#f8f8f8;border:1px solid #DDDDDD;}
.sidebar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px;background-color:#888888;margin:2px 0;}
.btn-sbleft{position:fixed;top:10px;left:10px;z-index:3000;}
.btn-sbright{position:fixed;top:10px;right:10px;z-index:3000;}

.btn-sbleft .icon-bar:nth-child(1) {-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);-o-transform:rotate(30deg);transform:rotate(30deg);width:20px;height:2px;margin:4px 0;top:8px;position:relative;}
.btn-sbleft .icon-bar:nth-child(2){-webkit-transform:rotate(-30deg);-moz-transform:rotate(-30deg);-o-transform:rotate(-30deg);transform:rotate(-30deg);width:20px;height:2px;margin:4px 0;top:-8px;position:relative;}
.btn-sbright .icon-bar:nth-child(1) {-webkit-transform:rotate(330deg);-moz-transform:rotate(330deg);-o-transform:rotate(330deg);transform:rotate(330deg);width:20px;height:2px;margin:4px 0;top:8px;position:relative;}
.btn-sbright .icon-bar:nth-child(2){-webkit-transform:rotate(-330deg);-moz-transform:rotate(-330deg);-o-transform:rotate(-330deg);transform:rotate(-330deg);width:20px;height:2px;margin:4px 0;top:-8px;position:relative;}

.active-sidebar-left .btn-sbleft{position:absolute;left:auto;right:0;}
.active-sidebar-right .btn-sbright{position:absolute;right:auto;left:0;}
.active-sidebar-left .btn-sbleft .icon-bar:nth-child(1){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);position:relative;top:3px;}
.active-sidebar-left .btn-sbleft .icon-bar:nth-child(2){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);position:relative;top:-3px;}
.active-sidebar-right .btn-sbright .icon-bar:nth-child(1){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);position:relative;top:3px;}
.active-sidebar-right .btn-sbright .icon-bar:nth-child(2){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);position:relative;top:-3px;}


/* Sidebar en caso de necesitar el menu de bootstrap */

/* Division para el menu */
	
.sidebar-nav {
	display: block;
	float: left;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0px;
}
.sidebar-nav .navbar-header {
    float: none;
}

.sidebar-nav .navbar-brand {
    width: 100%;
}

.sidebar-nav .navbar-collapse {
	padding-left: 0px;	
	padding-right: 0px;	
}
.sidebar-nav .navbar-collapse.in {
    overflow-y: visible;
}
.sidebar-nav .navbar-nav {
    width:100%;
    margin: 0px 0px;
}
.sidebar-nav .navbar-nav > li {
    float: none;
}
.sidebar-nav .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    border: 0;
    padding: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
}

.sidebar-nav .navbar-nav .open .dropdown-menu .dropdown-header, 
.sidebar-nav .navbar-nav .open .dropdown-menu > li > a {	
	padding: 10px 15px 10px 15px;
	border-top: 1px solid #BABABA;
	border-bottom: 1px solid #7E7E7E;
}

.sidebar-nav .dropdown-menu .divider {
    height: 1px;
    margin: 1px 0;
}

/* Carrusel en general
-------------------------------------------------- */

/* Carousel base 
.carousel{height:500px;margin-bottom:60px;}
.carousel .item{height:500px;}*/

/* Carousel multiple */
.carousel-multiple {height: inherit;}
.carousel-multiple .item {height: inherit;}

.carousel-inner > .item > img{position:absolute;right:0;left:0;min-width:100%;height:500px;}

/* efectos para slider fade y vertical*/
.carousel-fade .carousel-inner .item{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;}
.carousel-fade .carousel-inner .active{opacity:1;}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right{left:0;opacity:0;z-index:1;}
.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right{opacity:1;}
.carousel-fade .carousel-control{z-index:2;}

/* Vertical FX */
.carousel-vertical .carousel-inner{height:100%;}
.carousel-vertical .item{-webkit-transition:0.6s ease-in-out top;-moz-transition:0.6s ease-in-out top;-ms-transition:0.6s ease-in-out top;-o-transition:0.6s ease-in-out top;transition:0.6s ease-in-out top;}
.carousel-vertical .active{top:0;}
.carousel-vertical .next{top:400px;}
.carousel-vertical .prev{top:-400px;}
.carousel-vertical .next.left,.carousel-vertical .prev.right{top:0;}
.carousel-vertical .active.left{top:-400px;}
.carousel-vertical .active.right{top:400px;}
.carousel-vertical .item{left:0;}

/* Carousel con thumbs versión de multiplos de 4*/
.carousel-thumbs{height:auto;}
.carousel-thumbs .thumbnails.list{margin:0px;}
.carousel-thumbs .item{height:auto;background-color:none;}
.carousel-thumbs .carousel-inner > .item{background-color:transparent;}
 .carousel-thumbs .carousel-control {}
 .carousel-thumbs .carousel-control.left{left:0;}
 .carousel-thumbs .carousel-control.right{right:0;}

.thumbnail{/* width:260px;height:180px;no es necesario determinar medidas si se añade la clase responsive */
 overflow:hidden;border:0;box-shadow:0 12px 12px -10px #c4c4c4;-webkit-box-shadow:0 17px 22px -20px #c4c4c4;-moz-box-shadow:0 12px 12px -10px #c4c4c4;margin:0px;}

/* mantener proporciones de thumbs */
.thumbnail img{width:100%;height:auto;}
/* texto en thumbs */
.thumbnail p{text-align:center;padding:10px;}


/* Regla general: posición de objetos */
    .carousel-multiple .carousel-inner .active.left,
    .carousel-multiple .carousel-inner .active.right{ 
            left: 0%;
            -webkit-transition: all .6s ease 0s;
            -moz-transition: all .6s ease 0s;
            -o-transition: all .6s ease 0s;
            -ms-transition: all .6s ease 0s;
            transition: all .6s ease 0s;
        }

    /*variable por 2 thumbs (col-sm-6)*/    
        .carousel-multiple.x2 .carousel-inner .active.left {
            -webkit-transform: translate3d(-50%, 0, 0);
            -moz-transform: translate3d(-50%, 0, 0);
            -ms-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
        }           
        .carousel-multiple.x2 .carousel-inner .active.right {
            -webkit-transform: translate3d(50%, 0, 0);
            -moz-transform: translate3d(50%, 0, 0);
            -ms-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
        }   
        .carousel-multiple.x2 .carousel-inner .prev { left: -50%; }
        .carousel-multiple.x2 .carousel-inner .next { left:  50%; }      
    
    /*variable por 3 thumbs (col-sm-4)*/    
        .carousel-multiple.x3 .carousel-inner .active.left {
            -webkit-transform: translate3d(-33.33333333%, 0, 0);
            -moz-transform: translate3d(-33.33333333%, 0, 0);
            -ms-transform: translate3d(-33.33333333%, 0, 0);
            transform: translate3d(-33.33333333%, 0, 0);
        }           
        .carousel-multiple.x3 .carousel-inner .active.right {
            -webkit-transform: translate3d(33.33333333%, 0, 0);
            -moz-transform: translate3d(33.33333333%, 0, 0);
            -ms-transform: translate3d(33.33333333%, 0, 0);
            transform: translate3d(33.33333333%, 0, 0);
        }   
        .carousel-multiple.x3 .carousel-inner .prev { left: -33.33333333%; }
        .carousel-multiple.x3 .carousel-inner .next { left:  33.33333333%; } 
        
    
    /*variable por 4 thumbs (col-sm-3)*/    
        .carousel-multiple.x4 .carousel-inner .active.left {
            -webkit-transform: translate3d(-25%, 0, 0);
            -moz-transform: translate3d(-25%, 0, 0);
            -ms-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
        }           
        .carousel-multiple.x4 .carousel-inner .active.right {
            -webkit-transform: translate3d(25%, 0, 0);
            -moz-transform: translate3d(25%, 0, 0);
            -ms-transform: translate3d(25%, 0, 0);
            transform: translate3d(25%, 0, 0);
        }   
        .carousel-multiple.x4 .carousel-inner .prev { left: -25%; }
        .carousel-multiple.x4 .carousel-inner .next { left:  25%; }  
        
    
    /*variable por 6 thumbs (col-sm-2) */   
        .carousel-multiple.x6 .carousel-inner .active.left {
            -webkit-transform: translate3d(-16.66666667%, 0, 0);
            -moz-transform: translate3d(-16.66666667%, 0, 0);
            -ms-transform: translate3d(-16.66666667%, 0, 0);
            transform: translate3d(-16.66666667%, 0, 0);
        }           
        .carousel-multiple.x6 .carousel-inner .active.right {
            -webkit-transform: translate3d(16.66666667%, 0, 0);
            -moz-transform: translate3d(16.66666667%, 0, 0);
            -ms-transform: translate3d(16.66666667%, 0, 0);
            transform: translate3d(16.66666667%, 0, 0);
        }   
        .carousel-multiple.x6 .carousel-inner .prev { left: -16.66666667%; }
        .carousel-multiple.x6 .carousel-inner .next { left:  16.66666667%; } 
    
/* Regla general: posición de objetos, después del clic 
    .carousel-multiple .carousel-inner .next.left { left:  0%;opacity: 0; }
    .carousel-multiple .carousel-inner .prev.right { left: 0%;opacity: 0; }      */  

    .carousel-multiple .carousel-inner .next.left { left:  0%; }
    .carousel-multiple .carousel-inner .prev.right { left: 0%; }     
    
    .carousel-multiple .carousel-inner .next.left div,
    .carousel-multiple .carousel-inner .next.left figure{ opacity: 0; }
     .carousel-multiple .carousel-inner .next.left div:last-child,
     .carousel-multiple .carousel-inner .next.left figure:last-child { opacity: 1; }

    .carousel-multiple .carousel-inner .prev.right div,
    .carousel-multiple .carousel-inner .prev.right figure{ opacity: 0; }
     .carousel-multiple .carousel-inner .prev.right div:first-child,
     .carousel-multiple .carousel-inner .prev.right figure:first-child { opacity: 1; }

    

/* Personalización de controles de carrusel */
.carousel-control{font-size:6px;height:70%;border-radius:100px;width:4%;top:20%;}
.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next,.carousel-control .icon-prev{font-size:15px;margin:-10px -15px;}
.carousel-control.left{left:10px;}
.carousel-control.right{right:10px;}





/** 
 * 	Cover 
 * 
 **/

html, body { height: 100%; }

.cover-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  position: relative;
  margin-bottom:0px;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}
.cover-wrapper-inner { display: table-cell; vertical-align: middle; }
.cover-container { margin-right: auto; margin-left: auto;width:80%;}
.inner { padding: 30px 50px; overflow: hidden;}

/*
 * cover header
 */
.cover-header { position: absolute; top: 0; width:80%;}
.cover-header-brand {
    float: left;
    width: 200px;
    height: auto;
    background: #FFFFFF;
    margin-top: -30px;
}
.cover-header-nav > li {float:right;margin-left: 20px;}
.cover-header-nav > li + li {margin-left: 20px;}

.cover-header-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.cover-header-nav > li > a:hover,
.cover-header-nav > li > a:focus {
  border-bottom-color: #fff;
  background-color: transparent !important;
}

/* cover body */

.cover { padding: 0 50px;}

/* cover footer */

.cover-footer {position: absolute;bottom: 0;width:80%;}

 /*.site-footer::after{
 	content:'normal';
 	text-align: center;
 	color:#000000;
 	width:100%;
 	height:10px;
 	position: fixed;
 	left:0px;
 	right:0px;
 	bottom:30px;
 	background:#FFFFFF;
 	z-index:1000; 	
 }*/

/*columnas auxiliares*/


.col-lg-1a5, .col-sm-1a5, .col-xs-1a5, .col-lg-1a7, .col-sm-1a7, .col-xs-1a7, 
.col-lg-1a8, .col-sm-1a8, .col-xs-1a8, .col-lg-1a9, .col-sm-1a9, .col-xs-1a9{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;	
	float: left;
}


.col-lg-1a5, .col-sm-1a5, .col-xs-1a5{
    width: 20%;
    *width: 20%;	
}
.col-lg-1a7,.col-sm-1a7,.col-xs-1a7{
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;	
}
.col-lg-1a8, .col-sm-1a8, .col-xs-1a8{
    width: 12.5%;
    *width: 12.5%;		
}
.col-lg-1a9, .col-sm-1a9, .col-xs-1a9{
	width: 11.1111111%;
	*width: 11.1111111%;
}



/* CSS RESPONSIVO: Non-Mobile First Method
 -------------------------------------------------- */

/*--------------------------------------------------------------------------------
 * PRIMER CAMBIO
 *-------------------------------------------------------------------------------- 
 */

@media only screen and (max-width : 1200px) {
/* Bootstrap container 1200 */
	/*.site-footer::after {content:'Bootstrap container 1200';background-color: orange;padding:10px;}*/
	#secondary.affix { width: 235px; }	
}

@media only screen and (max-width : 992px) {
/* Bootstrap container 992 */	
	/*.site-footer::after {content:'Bootstrap container 992';background-color:yellow;padding:10px;}*/
	
/** Ejecutar el menu responsivo antes: https://coderwall.com/p/wpjw4w/change-the-bootstrap-navbar-breakpoint **/
	.overtake .navbar-header{float:none;}
	.overtake .navbar-left,.navbar-right{float:none !important;}
	.overtake .navbar-toggle{display:block;}
	.overtake .navbar-collapse{border-top:1px solid transparent;box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);}
	.overtake .navbar-fixed-top{top:0;border-width:0 0 1px;}
	.overtake .navbar-collapse.collapse{display:none!important;}
	.overtake .navbar-nav{float:none!important;margin-top:7.5px;}
 	.overtake .navbar-nav>li{float:none;}
	.overtake .navbar-nav>li>a{padding-top:10px;padding-bottom:10px;}
 	.overtake .collapse.in{display:block !important;}
 	
}


/*--------------------------------------------------------------------------------
 * SEGUNDO CAMBIO
 *-------------------------------------------------------------------------------- 
 */


@media only screen and (max-width : 768px) { 
	/*Cambio a tablet en bootstrap */
	/*.site-footer::after { content:'Cambio a tablet en bootstrap se activa toogle menu';background-color: teal;padding:10px; }*/
	
	/* SideBars plegables */
	#page-content-wrapper, .toggle-sidebars.left-on #primary {
	    width: inherit;
	}		
	#page-content-wrapper, .toggle-sidebars.right-on #primary {
	    width: inherit;
	}
	
/*carrusel*/	
    .carousel-multiple .item > div:nth-child(n+2),
    .carousel-multiple .item > figure:nth-child(n+2){
        display:none;
    }

    /* ajuste en la transición para los smartphones */    

    .carousel-multiple .carousel-inner .next.left div,
    .carousel-multiple .carousel-inner .prev.right div,
    .carousel-multiple .carousel-inner .next.left figure,
    .carousel-multiple .carousel-inner .prev.right figure {
        opacity: 1;
    }
    
    .carousel-multiple.x2 .carousel-inner .active.left,
    .carousel-multiple.x3 .carousel-inner .active.left,
    .carousel-multiple.x4 .carousel-inner .active.left,
    .carousel-multiple.x6 .carousel-inner .active.left{
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    
    .carousel-multiple.x2 .carousel-inner .active.right,
    .carousel-multiple.x3 .carousel-inner .active.right,
    .carousel-multiple.x4 .carousel-inner .active.right,
    .carousel-multiple.x6 .carousel-inner .active.right{
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }	
}

@media only screen and (max-width : 480px) {
	#main{padding:0;}
	/*.site-footer::after {content:'screen and (max-width: 480px)';background-color:aqua;padding:10px;}*/
	.entry-content p > img{ max-width:100%; }

	/* SideBars plegables */	
	#wrapper.active-sidebar-left #sidebar-left, .toggle-sidebars.left-on #content.active-sidebar-left #secondary {
	    margin-left: 0px;
	    left:0px;
	    width: 100%;
	}
	#wrapper.active-sidebar-left, .toggle-sidebars.left-on #content.active-sidebar-left {
	    padding-left: 0%;
	}	
	
}

/*--------------------------------------------------------------------------------
 * TERCER CAMBIO
 *-------------------------------------------------------------------------------- 
 */

@media only screen and (max-width : 320px){
	/*Smartphones en general, modo vertical*/	
	/*.site-footer::after {content:'screen and (max-width: 320px)';background-color:gray;padding:10px;}	*/
}	


/* CSS RESPONSIVO Mobile First Method
 -------------------------------------------------- **

/*--------------------------------------------------------------------------------
 * PRIMER CAMBIO
 *--------------------------------------------------------------------------------
 **

/*widescreens, pantallas grandes en general**
@media screen and (max-width: 1500px) {}
@media (max-width: 1200px) {}

/*Caso atipico de monitor que necesitara ajuste**
@media screen and (max-width: 1100px) {}
@media (max-width: 980px) {}
@media (max-width: 979px) {}

/*Monitor generico y tablet en modo horizontal**
@media screen and (max-width: 900px) {}

/*--------------------------------------------------------------------------------
 * SEGUNDO CAMBIO
 *--------------------------------------------------------------------------------
 **

/*Cambio a tablet en bootstrap **
@media (max-width: 767px) {}

/*Tabletas grandes en general**
@media screen and (max-width: 750px) {}

/*Tabletas en general, modo vertical**
@media screen and (max-width: 600px) {}

@media (max-width: 480px) {}

/*--------------------------------------------------------------------------------
 * TERCER CAMBIO
 *--------------------------------------------------------------------------------
 **

/*Smartphones en general, modo horizontal**
@media screen and (max-width: 450px) {}

/*Smartphones en general, modo vertical**
@media screen and (max-width: 320px) {}
*/